# Group by and Aggregating

In [ ]:
import pandas as pd

In [5]:
df = pd.read_csv(r"C:\Users\shass\my_github\my_practice_repository\pandas_for_beginners\datasets\flavors.csv")

df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

## Shortcut Function 'Describe' to Quickly View Data

In [31]:
df.groupby('Base Flavor').describe()

            Flavor Rating                                             \
                    count mean       std  min    25%  50%  75%   max
Base Flavor
Chocolate             3.0  8.4  0.346410  8.2  8.200  8.2  8.5   8.8
Vanilla               6.0  5.7  2.710719  2.3  4.025  5.6  6.8  10.0

            Texture Rating            ...             Total Rating         \
                     count      mean  ...    75%  max        count   mean
Base Flavor                           ...
Chocolate              3.0  7.233333  ...  7.350  7.6          3.0  15.70
Vanilla                6.0  5.650000  ...  6.375  8.0          6.0  11.35


                  std   min     25%   50%     75%   max
Base Flavor
Chocolate    0.781025  15.2  15.250  15.3  15.950  16.6
Vanilla      4.263684   5.7   9.025  11.1  13.175  18.0

[2 rows x 24 columns]

## Group By Function

In [6]:
# grouping the df by 'base flavor' & assigning it to the variable 'group_by_frame'

group_by_frame = df.groupby('Base Flavor')

In [8]:
# calling the variable 'group_by_frame' & returning the 'mean' of the numerical (ints) values in the table

group_by_frame.mean()

C:\Users\shass\AppData\Local\Temp\ipykernel_10548\4024548864.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  group_by_frame.mean()

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [9]:
# another method of compiling this code

df.groupby('Base Flavor').mean()

C:\Users\shass\AppData\Local\Temp\ipykernel_10548\723532505.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Base Flavor').mean()

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [11]:
# same code but now we're looking at the 'count' instead of 'mean'

df.groupby('Base Flavor').count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [ ]:
# same code but now we're looking at the 'count'

df.groupby('Base Flavor').count()

In [12]:
# same code but now we're looking at the 'min', it also includes the string values when bringing in the min, it looks at the
# index of the first letter of the string value & returns the min, e.g. 'No'. Note that for Chocolate the values are all 
# equal to 'Yes' so this is the min value

df.groupby('Base Flavor').min()

                  Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate      Chocolate   Yes            8.2             7.0          15.2
Vanilla      Cake Batter    No            2.3             3.4           5.7

In [13]:
# same code but now we're looking at the 'max', it also includes the string values when bringing in the max

df.groupby('Base Flavor').max()

                 Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate    Rocky Road   Yes            8.8             7.6          16.6
Vanilla         Vanilla   Yes           10.0             8.0          18.0

In [14]:
# same code but now we're looking at the 'sum'

df.groupby('Base Flavor').sum()

C:\Users\shass\AppData\Local\Temp\ipykernel_10548\639458216.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Base Flavor').sum()

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate             25.2            21.7          47.1
Vanilla               34.2            33.9          68.1

## Aggregate Function

In [17]:
# The agg function calculates multiple aggregation functions (mean, max, count, sum) on the 'Flavor Rating' column 
# within each group of 'Base Flavor'. We create a dictionary based on the column 'Flavor Rating', then return the different
# numerical outputs based on the different calculations

df.groupby('Base Flavor').agg({'Flavor Rating': ['mean', 'max', 'count', 'sum']})

            Flavor Rating
                     mean   max count   sum
Base Flavor
Chocolate             8.4   8.8     3  25.2
Vanilla               5.7  10.0     6  34.2

In [18]:
# We can include additional aggregation functions within this code

df.groupby('Base Flavor').agg({'Flavor Rating': ['mean', 'max', 'count', 'sum'], 'Texture Rating': ['mean', 'max', 'count', 'sum']})

            Flavor Rating                   Texture Rating
                     mean   max count   sum           mean  max count   sum
Base Flavor
Chocolate             8.4   8.8     3  25.2       7.233333  7.6     3  21.7
Vanilla               5.7  10.0     6  34.2       5.650000  8.0     6  33.9

## Grouping by Multiple Columns

In [29]:
# we can add additional columns to our grouping function by adding them in as a list

df.groupby(['Base Flavor', 'Liked']).mean()

                                          Flavor Rating  Texture Rating  \
Base Flavor Flavor                 Liked
Chocolate   Chocolate              Yes              8.8             7.6
            Chocolte Fudge Brownie Yes              8.2             7.1
            Rocky Road             Yes              8.2             7.0
Vanilla     Cake Batter            Yes              6.5             6.0
            Cookie Dough           Yes              6.9             6.5
            Mint Chocolate Chip    Yes             10.0             8.0
            Neapolitan             No               3.8             5.0
            Pistachio              No               2.3             3.4
            Vanilla                No               4.7             5.0

                                          Total Rating
Base Flavor Flavor                 Liked
Chocolate   Chocolate              Yes            16.6
            Chocolte Fudge Brownie Yes            15.3
            Rocky Road             Yes            15.2
Vanilla     Cake Batter            Yes            12.5
            Cookie Dough           Yes            13.4
            Mint Chocolate Chip    Yes            18.0
            Neapolitan             No              8.8
            Pistachio              No              5.7
            Vanilla                No              9.7

In [30]:
# we can add the aggergation function to the groupby to perform the same calculations on seperate grouped values

df.groupby(['Base Flavor', 'Liked']).agg({'Flavor Rating': ['mean', 'max', 'count', 'sum']})

                  Flavor Rating
                           mean   max count   sum
Base Flavor Liked
Chocolate   Yes             8.4   8.8     3  25.2
Vanilla     No              3.6   4.7     3  10.8
            Yes             7.8  10.0     3  23.4